#descriptionHolder .home {
    margin-top: 1em;
    padding: 2em;
    line-height: 2em;
    text-align: justify;
}

#descriptionHolder .classes {
    margin-top: 1em;
    padding: 2em;
    line-height: 1.5em;
    text-align: justify;
}